<div class="bgImage">

    <h2>Create a Restaurant</h2>

    <div class="createLeftTop">
        <form action="/create-form" method="POST" enctype="multipart/form-data">
            <label for="restaurantsImage">
        <input type="file" name="restaurantsImage">
    </label>

            <label>
        Name:
        <input type="text" name="name" />
      </label>
    </div>

    <div class="createCenter">
        <label>
    City: 
    </label>
        <select name="city">
        <option value="Hambourg">Hambourg</option>
        <option value="Freiburg">Freiburg</option>
        <option value="Dresden">Dresden</option>
        <option value="Munich">Munich</option>
        <option value="Luebeck">Luebeck</option>
        <option value="Venice">Venice</option>
        <option value="Roma">Roma</option>
        <option value="Turin">Turin</option>
        <option value="Florence">Florence</option>
        <option value="Neapel">Neapel</option>
        
    </select>


        <label for="country">
   Country: 
     </label>
        <select name="country">
        <option value="Germany">Germany</option>
        <option value="Italy">Italy</option>
    </select>
    </div>


    <div class="createRightBottom">
        <label>
    Address:
    <input type="text" name="address" />
  </label>

        <label>
    Description:
    <textarea rows="10" name="description"></textarea>
  </label>
    </div>

    <div>
        <label>
    Price:
    <!-- <input type="text" name="price" /> -->
  </label>
        <select name="price" id="">
    <option value="€">€</option>
    <option value="€€">€€</option>
    <option value="€€€">€€€</option>
    <option value="€€€€">€€€€</option>
    <option value="€€€€€">€€€€€</option>
  </select>

        <button type="submit">Create</button>
        </form>
    </div>

</div>