<h2> List of Cities
</h2>



<a href="/german/hambourg"><h3>Hambourg</h3></a>
<a href="/german/dresden"><h3>Dresden</h3> </a>
<a href="/german/munich"><h3>Munich</h3> </a>
<a href="/german/luebeck"><h3>Luebeck</h3> </a>
<a href="/german/freiburg"><h3>Freiburg</h3> </a>
