<!-- <h2> List of Cities
</h2>



<a href="/german/hambourg"><h3>Hambourg</h3></a>
<a href="/german/dresden"><h3>Dresden</h3> </a>
<a href="/german/munich"><h3>Munich</h3> </a>
<a href="/german/luebeck"><h3>Luebeck</h3> </a>
<a href="/german/freiburg"><h3>Freiburg</h3> </a> -->

<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action">
        <h2>List of Cities</h2>
    </a>


    <a href="/german/hambourg" class="list-group-item list-group-item-action list-group-item-primary">Hambourg</a>
    <a href="/german/dresden" class="list-group-item list-group-item-action list-group-item-secondary">Dresden</a>
    <a href="/german/munich" class="list-group-item list-group-item-action list-group-item-success">Munich</a>
    <a href="/german/luebeck" class="list-group-item list-group-item-action list-group-item-danger">Luebeck</a>
    <a href="/german/freiburg" class="list-group-item list-group-item-action list-group-item-warning">Freiburg</a>

</div>