<h2> List of Cities
</h2>



<a href="/german/hambourg">
    <h3>Hambourg</h3>
</a>

<h3>
    <a href=""> </a>Dresden</h3>
<h3>
    <a href=""> </a>Munich</h3>
<h3>
    <a href=""> </a>Luebeck</h3>
<h3>
    <a href=""> </a>Freiburg</h3>