<h2>This is our profile Site. Welcome ,
    <%= userInSession %>
</h2>

<a href="/italian"><button type="button">ITALY</button></a>
<a href="/german"><button>GERMANY</button></a>

<!-- <nav>
    <div><a href="/italian">ITALY</a></div>
    <div><a href="/german">GERMANY</a></div>
</nav> -->